modules = ["cpp"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build and Run C++ Project"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build_and_run"

[[workflows.workflow]]
name = "Build and Run C++ Project"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && make && ./bin/data_analyzer"

[[workflows.workflow]]
name = "build_and_run"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mkdir -p build && cd build && cmake .. && make && ./bin/data_analyzer"

[deployment]
run = ["sh", "-c", "mkdir -p build && cd build && cmake .. && make && ./bin/data_analyzer"]
