modules = ["cpp-clang14", "c-clang14", "bash"]
run = "cd ai_language && mkdir -p build && cd build && cmake .. && make && cd .. && ./ai_lang -i"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd ai_language && mkdir -p build && cd build && cmake .. && make && cd .. && ./ai_lang -i"]

[workflows]
runButton = "Build and Run C++"

[[workflows.workflow]]
name = "Build and Run C++"
author = 40997290
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ai_language && mkdir -p build && cd build && cmake .. && make && ./ai_lang ../examples/ml_example.ai"

[[workflows.workflow]]
name = "Test Build and Run"
author = 41000523
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ai_language && mkdir -p build && cd build && export AI_LANG_TESTING=1 && cmake .. && make && cd .. && AI_LANG_TESTING=1 ./ai_lang ../examples/ml_example.ai"

[[workflows.workflow]]
name = "Test Build and Run Silent"
author = 41000523
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ai_language && mkdir -p build && cd build && export AI_LANG_TESTING=1 && cmake .. && make && cd .. && AI_LANG_TESTING=1 ./build/ai_lang examples/ml_example.ai"

[[workflows.workflow]]
name = "Build Only"
author = 41000523
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ai_language && mkdir -p build && cd build && export AI_LANG_TESTING=1 && cmake .. && make && cd .. && true"
